//== Get color variables from variables/colors.less by color name

//## Main colors
.zmd-get-color-main-variables(@name) {
  @color-50:  ~"mdc-@{name}-50";
  @color-100: ~"mdc-@{name}-100";
  @color-200: ~"mdc-@{name}-200";
  @color-300: ~"mdc-@{name}-300";
  @color-400: ~"mdc-@{name}-400";
  @color-500: ~"mdc-@{name}-500";
  @color-600: ~"mdc-@{name}-600";
  @color-700: ~"mdc-@{name}-700";
  @color-800: ~"mdc-@{name}-800";
  @color-900: ~"mdc-@{name}-900";
}

//## Accent colors
.zmd-get-color-accent-variables(@name) {
  @color-A100: ~"mdc-@{name}-A100";
  @color-A200: ~"mdc-@{name}-A200";
  @color-A400: ~"mdc-@{name}-A400";
  @color-A700: ~"mdc-@{name}-A700";
}

//## All colors
.zmd-get-color-variables(@name) {
  .zmd-get-color-main-variables(@name);
  .zmd-get-color-accent-variables(@name);
}

//## B/W colors
.zmd-get-bw-color-variables(@name) {
  @color-lighter:  ~"mdc-@{name}-lighter";
  @color-light:    ~"mdc-@{name}-light";
  @color-dark:     ~"mdc-@{name}-dark";
  @color-darker:   ~"mdc-@{name}-darker";
}