//== Google material colors

//## Red
@zmdc-red-50:   #FFEBEE;
@zmdc-red-100:  #FFCDD2;
@zmdc-red-200:  #EF9A9A;
@zmdc-red-300:  #E57373;
@zmdc-red-400:  #EF5350;
@zmdc-red-500:  #F44336;
@zmdc-red-600:  #E53935;
@zmdc-red-700:  #D32F2F;
@zmdc-red-800:  #C62828;
@zmdc-red-900:  #B71C1C;
@zmdc-red-A100: #FF8A80;
@zmdc-red-A200: #FF5252;
@zmdc-red-A400: #FF1744;
@zmdc-red-A700: #D50000;

//## Pink
@zmdc-pink-50:   #FCE4EC;
@zmdc-pink-100:  #F8BBD0;
@zmdc-pink-200:  #F48FB1;
@zmdc-pink-300:  #F06292;
@zmdc-pink-400:  #EC407A;
@zmdc-pink-500:  #E91E63;
@zmdc-pink-600:  #D81B60;
@zmdc-pink-700:  #C2185B;
@zmdc-pink-800:  #AD1457;
@zmdc-pink-900:  #880E4F;
@zmdc-pink-A100: #FF80AB;
@zmdc-pink-A200: #FF4081;
@zmdc-pink-A400: #F50057;
@zmdc-pink-A700: #C51162;

//## Purple
@zmdc-purple-50:   #F3E5F5;
@zmdc-purple-100:  #E1BEE7;
@zmdc-purple-200:  #CE93D8;
@zmdc-purple-300:  #BA68C8;
@zmdc-purple-400:  #AB47BC;
@zmdc-purple-500:  #9C27B0;
@zmdc-purple-600:  #8E24AA;
@zmdc-purple-700:  #7B1FA2;
@zmdc-purple-800:  #6A1B9A;
@zmdc-purple-900:  #4A148C;
@zmdc-purple-A100: #EA80FC;
@zmdc-purple-A200: #E040FB;
@zmdc-purple-A400: #D500F9;
@zmdc-purple-A700: #AA00FF;

//## Deep Purple
@zmdc-deep-purple-50:   #EDE7F6;
@zmdc-deep-purple-100:  #D1C4E9;
@zmdc-deep-purple-200:  #B39DDB;
@zmdc-deep-purple-300:  #9575CD;
@zmdc-deep-purple-400:  #7E57C2;
@zmdc-deep-purple-500:  #673AB7;
@zmdc-deep-purple-600:  #5E35B1;
@zmdc-deep-purple-700:  #512DA8;
@zmdc-deep-purple-800:  #4527A0;
@zmdc-deep-purple-900:  #311B92;
@zmdc-deep-purple-A100: #B388FF;
@zmdc-deep-purple-A200: #7C4DFF;
@zmdc-deep-purple-A400: #651FFF;
@zmdc-deep-purple-A700: #6200EA;

//## Indigo
@zmdc-indigo-50:   #E8EAF6;
@zmdc-indigo-100:  #C5CAE9;
@zmdc-indigo-200:  #9FA8DA;
@zmdc-indigo-300:  #7986CB;
@zmdc-indigo-400:  #5C6BC0;
@zmdc-indigo-500:  #3F51B5;
@zmdc-indigo-600:  #3949AB;
@zmdc-indigo-700:  #303F9F;
@zmdc-indigo-800:  #283593;
@zmdc-indigo-900:  #1A237E;
@zmdc-indigo-A100: #8C9EFF;
@zmdc-indigo-A200: #536DFE;
@zmdc-indigo-A400: #3D5AFE;
@zmdc-indigo-A700: #304FFE;

//## Blue
@zmdc-blue-50:   #E3F2FD;
@zmdc-blue-100:  #BBDEFB;
@zmdc-blue-200:  #90CAF9;
@zmdc-blue-300:  #64B5F6;
@zmdc-blue-400:  #42A5F5;
@zmdc-blue-500:  #2196F3;
@zmdc-blue-600:  #1E88E5;
@zmdc-blue-700:  #1976D2;
@zmdc-blue-800:  #1565C0;
@zmdc-blue-900:  #0D47A1;
@zmdc-blue-A100: #82B1FF;
@zmdc-blue-A200: #448AFF;
@zmdc-blue-A400: #2979FF;
@zmdc-blue-A700: #2962FF;

//## Light Blue
@zmdc-light-blue-50:   #E1F5FE;
@zmdc-light-blue-100:  #B3E5FC;
@zmdc-light-blue-200:  #81D4FA;
@zmdc-light-blue-300:  #4FC3F7;
@zmdc-light-blue-400:  #29B6F6;
@zmdc-light-blue-500:  #03A9F4;
@zmdc-light-blue-600:  #039BE5;
@zmdc-light-blue-700:  #0288D1;
@zmdc-light-blue-800:  #0277BD;
@zmdc-light-blue-900:  #01579B;
@zmdc-light-blue-A100: #80D8FF;
@zmdc-light-blue-A200: #40C4FF;
@zmdc-light-blue-A400: #00B0FF;
@zmdc-light-blue-A700: #0091EA;

//## Cyan
@zmdc-cyan-50:   #E0F7FA;
@zmdc-cyan-100:  #B2EBF2;
@zmdc-cyan-200:  #80DEEA;
@zmdc-cyan-300:  #4DD0E1;
@zmdc-cyan-400:  #26C6DA;
@zmdc-cyan-500:  #00BCD4;
@zmdc-cyan-600:  #00ACC1;
@zmdc-cyan-700:  #0097A7;
@zmdc-cyan-800:  #00838F;
@zmdc-cyan-900:  #006064;
@zmdc-cyan-A100: #84FFFF;
@zmdc-cyan-A200: #18FFFF;
@zmdc-cyan-A400: #00E5FF;
@zmdc-cyan-A700: #00B8D4;

//## Teal
@zmdc-teal-50:   #E0F2F1;
@zmdc-teal-100:  #B2DFDB;
@zmdc-teal-200:  #80CBC4;
@zmdc-teal-300:  #4DB6AC;
@zmdc-teal-400:  #26A69A;
@zmdc-teal-500:  #009688;
@zmdc-teal-600:  #00897B;
@zmdc-teal-700:  #00796B;
@zmdc-teal-800:  #00695C;
@zmdc-teal-900:  #004D40;
@zmdc-teal-A100: #A7FFEB;
@zmdc-teal-A200: #64FFDA;
@zmdc-teal-A400: #1DE9B6;
@zmdc-teal-A700: #00BFA5;

//## Green
@zmdc-green-50:   #E8F5E9;
@zmdc-green-100:  #C8E6C9;
@zmdc-green-200:  #A5D6A7;
@zmdc-green-300:  #81C784;
@zmdc-green-400:  #66BB6A;
@zmdc-green-500:  #4CAF50;
@zmdc-green-600:  #43A047;
@zmdc-green-700:  #388E3C;
@zmdc-green-800:  #2E7D32;
@zmdc-green-900:  #1B5E20;
@zmdc-green-A100: #B9F6CA;
@zmdc-green-A200: #69F0AE;
@zmdc-green-A400: #00E676;
@zmdc-green-A700: #00C853;

//## Light Green
@zmdc-light-green-50:   #F1F8E9;
@zmdc-light-green-100:  #DCEDC8;
@zmdc-light-green-200:  #C5E1A5;
@zmdc-light-green-300:  #AED581;
@zmdc-light-green-400:  #9CCC65;
@zmdc-light-green-500:  #8BC34A;
@zmdc-light-green-600:  #7CB342;
@zmdc-light-green-700:  #689F38;
@zmdc-light-green-800:  #558B2F;
@zmdc-light-green-900:  #33691E;
@zmdc-light-green-A100: #CCFF90;
@zmdc-light-green-A200: #B2FF59;
@zmdc-light-green-A400: #76FF03;
@zmdc-light-green-A700: #64DD17;

//## Lime
@zmdc-lime-50:   #F9FBE7;
@zmdc-lime-100:  #F0F4C3;
@zmdc-lime-200:  #E6EE9C;
@zmdc-lime-300:  #DCE775;
@zmdc-lime-400:  #D4E157;
@zmdc-lime-500:  #CDDC39;
@zmdc-lime-600:  #C0CA33;
@zmdc-lime-700:  #AFB42B;
@zmdc-lime-800:  #9E9D24;
@zmdc-lime-900:  #827717;
@zmdc-lime-A100: #F4FF81;
@zmdc-lime-A200: #EEFF41;
@zmdc-lime-A400: #C6FF00;
@zmdc-lime-A700: #AEEA00;

//## Yellow
@zmdc-yellow-50:   #FFFDE7;
@zmdc-yellow-100:  #FFF9C4;
@zmdc-yellow-200:  #FFF59D;
@zmdc-yellow-300:  #FFF176;
@zmdc-yellow-400:  #FFEE58;
@zmdc-yellow-500:  #FFEB3B;
@zmdc-yellow-600:  #FDD835;
@zmdc-yellow-700:  #FBC02D;
@zmdc-yellow-800:  #F9A825;
@zmdc-yellow-900:  #F57F17;
@zmdc-yellow-A100: #FFFF8D;
@zmdc-yellow-A200: #FFFF00;
@zmdc-yellow-A400: #FFEA00;
@zmdc-yellow-A700: #FFD600;

//## Amber
@zmdc-amber-50:   #FFF8E1;
@zmdc-amber-100:  #FFECB3;
@zmdc-amber-200:  #FFE082;
@zmdc-amber-300:  #FFD54F;
@zmdc-amber-400:  #FFCA28;
@zmdc-amber-500:  #FFC107;
@zmdc-amber-600:  #FFB300;
@zmdc-amber-700:  #FFA000;
@zmdc-amber-800:  #FF8F00;
@zmdc-amber-900:  #FF6F00;
@zmdc-amber-A100: #FFE57F;
@zmdc-amber-A200: #FFD740;
@zmdc-amber-A400: #FFC400;
@zmdc-amber-A700: #FFAB00;

//## Orange
@zmdc-orange-50:   #FFF3E0;
@zmdc-orange-100:  #FFE0B2;
@zmdc-orange-200:  #FFCC80;
@zmdc-orange-300:  #FFB74D;
@zmdc-orange-400:  #FFA726;
@zmdc-orange-500:  #FF9800;
@zmdc-orange-600:  #FB8C00;
@zmdc-orange-700:  #F57C00;
@zmdc-orange-800:  #EF6C00;
@zmdc-orange-900:  #E65100;
@zmdc-orange-A100: #FFD180;
@zmdc-orange-A200: #FFAB40;
@zmdc-orange-A400: #FF9100;
@zmdc-orange-A700: #FF6D00;

//## Deep Orange
@zmdc-deep-orange-50:   #FBE9E7;
@zmdc-deep-orange-100:  #FFCCBC;
@zmdc-deep-orange-200:  #FFAB91;
@zmdc-deep-orange-300:  #FF8A65;
@zmdc-deep-orange-400:  #FF7043;
@zmdc-deep-orange-500:  #FF5722;
@zmdc-deep-orange-600:  #F4511E;
@zmdc-deep-orange-700:  #E64A19;
@zmdc-deep-orange-800:  #D84315;
@zmdc-deep-orange-900:  #BF360C;
@zmdc-deep-orange-A100: #FF9E80;
@zmdc-deep-orange-A200: #FF6E40;
@zmdc-deep-orange-A400: #FF3D00;
@zmdc-deep-orange-A700: #DD2C00;

//## Brown
@zmdc-brown-50:   #EFEBE9;
@zmdc-brown-100:  #D7CCC8;
@zmdc-brown-200:  #BCAAA4;
@zmdc-brown-300:  #A1887F;
@zmdc-brown-400:  #8D6E63;
@zmdc-brown-500:  #795548;
@zmdc-brown-600:  #6D4C41;
@zmdc-brown-700:  #5D4037;
@zmdc-brown-800:  #4E342E;
@zmdc-brown-900:  #3E2723;

//## Grey
@zmdc-grey-50:   #FAFAFA;
@zmdc-grey-100:  #F5F5F5;
@zmdc-grey-200:  #EEEEEE;
@zmdc-grey-300:  #E0E0E0;
@zmdc-grey-400:  #BDBDBD;
@zmdc-grey-500:  #9E9E9E;
@zmdc-grey-600:  #757575;
@zmdc-grey-700:  #616161;
@zmdc-grey-800:  #424242;
@zmdc-grey-900:  #212121;

//## Blue Grey
@zmdc-blue-grey-50:   #ECEFF1;
@zmdc-blue-grey-100:  #CFD8DC;
@zmdc-blue-grey-200:  #B0BEC5;
@zmdc-blue-grey-300:  #90A4AE;
@zmdc-blue-grey-400:  #78909C;
@zmdc-blue-grey-500:  #607D8B;
@zmdc-blue-grey-600:  #546E7A;
@zmdc-blue-grey-700:  #455A64;
@zmdc-blue-grey-800:  #37474F;
@zmdc-blue-grey-900:  #263238;

//== Alpha values for grey text, icons, and dividers

//## White
@zmdc-white:         #fff;
@zmdc-white-lighter: rgba(255,255,255,.12); // Dividers
@zmdc-white-light:   rgba(255,255,255,.30); // Disabled / Hint Text
@zmdc-white-dark:    rgba(255,255,255,.70); // Secondary Text
@zmdc-white-darker:  rgba(255,255,255, 1);  // Text / Icons

//## Black
@zmdc-black:         #000;
@zmdc-black-lighter: rgba(0,0,0,.12); // Dividers
@zmdc-black-light:   rgba(0,0,0,.26); // Disabled / Hint Text
@zmdc-black-dark:    rgba(0,0,0,.54); // Secondary text / Icons
@zmdc-black-darker:  rgba(0,0,0,.87); // Text
